<div class="account-container">

  <div>
    <h2> THE LATEST MUSINGS </h2>
    <div class="all-posts-box">

      <% @allposts.reverse.first(2).each do |q| %>
        <div class="eachpost">
          <div class="indiv-bubble">
            <%= q.content %><br>
            <a href="/muser/<%= q.user_id %>"><%= q.creator %></a><br>
          </div>
          <div class="post-image">
            <% if q.image_url == "" || "null"  %>
              <img src="images/selfies/<%=rand(1..42)%>.jpg">
            <% else %>
              <img src="<%= q.image_url %>">
            <% end %>
              <br>
              <%= q.post_time.to_s.byteslice(5..6) %> |
              <%= q.post_time.to_s.byteslice(8..9) %> |
              <%= q.post_time.to_s.byteslice(0..3) %>
          </div>
        </div>
      <% end %>

      <% @allposts.shuffle.first(20).each do |q| %>
        <div class="eachpost">
          <div class="indiv-bubble">
            <%= q.content %><br>
            <a href="/muser/<%= q.user_id %>"><%= q.creator %></a><br>
          </div>
          <div class="post-image">
            <% if q.image_url == "" || "null" %>
              <img src="images/selfies/<%=rand(1..42)%>.jpg">
            <% else %>
              <img src="<%= q.image_url %>">
            <% end %>
              <br>
              <%= q.post_time.to_s.byteslice(5..6) %> |
              <%= q.post_time.to_s.byteslice(8..9) %> |
              <%= q.post_time.to_s.byteslice(0..3) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="account-right-container">
    <div class="greeting">
    <% if session[:user] != nil %>
      <h2>WELCOME BACK,
        <%= session[:user].first_name.upcase %>!
      </h2>
    <% end %>
    </div>
    <div class="new-post-box">

        <form class="new-muse-form" action="/account" method="post">
          <h3>NEW MUSING</h3>
          <textarea id="post-content" name="content" placeholder="YOUR MUSING" required="required" maxlength="200"></textarea><br>
          <input id="post-image" name="image_url" placeholder="SELFIE URL (optional)"></input><br>
          <center><input type="submit" value="MUSE!"></center>
        </form>
      </div>
    </div>

  </div>
