<div class="simplecenter">

<% User.all.each do |z|%>
<a href="/muser/<%= z.id %>"> <%= z.first_name %> <%= z.last_name %><br></a>
EMAIL: <%= z.email %><br>
USERNAME: <%= z.username %><br>
<%= z.birthday %>
<hr>
<% end %>

</div>
