<div class="muser-page-div">

  <div class="muser-header">
  <div class="muser-title"><h3> <%= @muser.first_name.upcase %>'S MUSINGS &nbsp;<i class="fas fa-comment"></i></h3> </div>
  <div class="muser-new-post newpost-bubble" id="myBtn-newpost"><h3>NEW MUSING</h3></div>
  </div>

  <div id="newpost-modal" class="modal">

    <div class="modal-content-newpost">

      <div class="new-post-box">

          <form class="new-muse-form" action="/muser" method="post">

            <span class="close-newpost">&times;</span><h3>NEW MUSING</h3>
            <textarea id="post-content" name="content" placeholder="YOUR MUSING" required="required" maxlength="200"></textarea><br>
            <input id="post-image" name="image_url" placeholder="SELFIE URL (optional)"></input><br>
            <center><input type="submit" value="MUSE!"></center>
          </form>
        </div>

    </div>

  </div>

  <script type="text/javascript">

var modal = document.getElementById('newpost-modal');
var btn = document.getElementById("myBtn-newpost");
var span = document.getElementsByClassName("close-newpost")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
  </script>



  <div class="all-posts-box-muser">
    <% @posts.reverse.first(20).each do |q| %>
      <div class="eachpost">
        <div class="indiv-bubble">
          <%= q.content %><br>
          <a href="/muser/<%= q.user_id %>"><%= q.creator %></a><br>
        </div>
        <div class="post-image">
          <% if q.image_url == "" ||  q.image_url == nil  %>
            <img src="/images/selfies/<%=rand(1..42)%>.jpg">
          <% else %>
            <img src="<%= q.image_url %>">
          <% end %>
        </div>
        <br>
        <div class="date-and-delete">
          <div>
            <%= q.post_time.to_s.byteslice(5..6) %>
            |
            <%= q.post_time.to_s.byteslice(8..9) %>
            |
            <%= q.post_time.to_s.byteslice(0..3) %>
          </div>

          <% if session[:user].id == @muser.id %>
            <div>


              <a id="trashBtn<%= q.id %>">
                <i class="far fa-trash-alt"></i>
              </a>

              <!-- The Modal -->
              <div id="deletePrompt<%= q.id %>" class="modal">
                <!-- Modal content -->
                <div class="delete-post animated bounceInUp">

                  <p>Are you sure? This is irreversible.</p>

                    <div class="delete-or-not">
                  <a  href="/deletepost/<%= q.id %>"><div class="delete-btn">DELETE</div></i></a>
                  <a><div class="close" id="close<%= q.id %>">KEEP </div></a>
                </div>

                </div>
              </div>

              <script>
                var modal<%= q.id %> = document.getElementById('deletePrompt<%= q.id %>');
                var btn<%= q.id %> = document.getElementById("trashBtn<%= q.id %>");
                var span<%= q.id %> = document.getElementById("close<%= q.id %>");

                btn<%= q.id %>.onclick = function () {
                  modal<%= q.id %>.style.display = "block";
                }
                span<%= q.id %>.onclick = function () {
                  modal<%= q.id %>.style.display = "none";
                }
                window.onclick = function (event) {
                  if (event.target == modal<%= q.id %>) {
                    modal<%= q.id %>.style.display = "none";
                  }
                }
              </script>

            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
