<div class="muser-page-div">

  <h3><%= @muser.first_name.upcase %>'S POSTS</h3>

  <div class="all-posts-box">
    <% @posts.reverse.first(20).each do |q| %>
      <div class="eachpost">
        <div class="indiv-bubble">
          <%= q.content %><br>
          <a href="/muser/<%= q.user_id %>"><%= q.creator %></a><br>
        </div>
        <div class="post-image">
          <% if q.image_url == "" || "NULL"%>
            <img src="/images/selfies/<%=rand(1..42)%>.jpg">
          <% else %>
            <img src="<%= q.image_url %>">
          <% end %>
        </div>
        <br>
        <div class="date-and-delete">
          <div>
            <%= q.post_time.to_s.byteslice(5..6) %>
            |
            <%= q.post_time.to_s.byteslice(8..9) %>
            |
            <%= q.post_time.to_s.byteslice(0..3) %>
          </div>

          <% if session[:user].id == @muser.id %>
            <div>


              <a id="trashBtn<%= q.id %>">
                <i class="far fa-trash-alt"></i>
              </a>

              <!-- The Modal -->
              <div id="deletePrompt<%= q.id %>" class="modal">
                <!-- Modal content -->
                <div class="delete-post animated bounceInUp">

                  <p>Are you sure? This is irreversible.</p>

                    <div class="delete-or-not">
                  <a  href="/deletepost/<%= q.id %>"><div class="delete-btn">DELETE</div></i></a>
                  <a><div class="close" id="close<%= q.id %>">KEEP </div></a>
                </div>

                </div>
              </div>

              <script>
                var modal<%= q.id %> = document.getElementById('deletePrompt<%= q.id %>');
                var btn<%= q.id %> = document.getElementById("trashBtn<%= q.id %>");
                var span<%= q.id %> = document.getElementById("close<%= q.id %>");

                btn<%= q.id %>.onclick = function () {
                  modal<%= q.id %>.style.display = "block";
                }
                span<%= q.id %>.onclick = function () {
                  modal<%= q.id %>.style.display = "none";
                }
                window.onclick = function (event) {
                  if (event.target == modal<%= q.id %>) {
                    modal<%= q.id %>.style.display = "none";
                  }
                }
              </script>

            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
