<div class="profile-div">
  <div class="profile-innerdiv">

  <div class="profile-row">
    WELCOME TO YOUR PROFILE
    </div>
    <br>
    <div class="profile-row">
    <div>
      NAME:
    </div>
    <div>
      <%= session[:user].first_name%>
      <%= session[:user].last_name%>
    </div>
    </div>
    <div class="profile-row">
    <div>
      USERNAME:
    </div>
    <div>
      <%= session[:user].username%>
    </div>
  </div>
  <div class="profile-row">
    <div>
      MUSE BDAY:
    </div>
    <div>
      <%= session[:user].created_at.to_s.byteslice(5..6)%>
      |
      <%= session[:user].created_at.to_s.byteslice(8..9)%>
      |
      <%= session[:user].created_at.to_s.byteslice(0..3)%>
    </div>
  </div>
  <div class="profile-row">
    <div>
      BIRTHDAY:
    </div>
    <div>
      <%= session[:user].birthday.byteslice(5..6)%>
      |
      <%= session[:user].birthday.byteslice(8..9)%>
      |
      <%= session[:user].birthday.byteslice(0..3)%>
    </div>
  </div>
  <div class="profile-row">
    <div>
      EMAIL:
    </div>
    <div>
      <%= session[:user].email%><br>
    </div>
  </div>

    <a href="/deleteaccount">
      &nbsp;DELETE ACCOUNT&nbsp;
    </a>
  </div>
</div>
